@charset "UTF-8";
/* CSS Document */

.btn,
.btn:link,
.btn:visited{
	display:inline-block;
	padding:0.5em 0.75em;
	box-shadow:2px 2px 2px rgba(0,0,0,0.5);
	color:rgba(0,0,102,0.6);
	font-weight:bold;
	background:rgb(228,245,252);
	background:-moz-linear-gradient(top,  rgba(228,245,252,1) 0%, rgba(191,232,249,1) 50%, rgba(159,216,239,1) 51%, rgba(0,204,255,1) 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(228,245,252,1)), color-stop(50%,rgba(191,232,249,1)), color-stop(51%,rgba(159,216,239,1)), color-stop(100%,rgba(0,204,255,1)));
	background:-webkit-linear-gradient(top,  rgba(228,245,252,1) 0%,rgba(191,232,249,1) 50%,rgba(159,216,239,1) 51%,rgba(0,204,255,1) 100%);
	background:-o-linear-gradient(top,  rgba(228,245,252,1) 0%,rgba(191,232,249,1) 50%,rgba(159,216,239,1) 51%,rgba(0,204,255,1) 100%);
	background:-ms-linear-gradient(top,  rgba(228,245,252,1) 0%,rgba(191,232,249,1) 50%,rgba(159,216,239,1) 51%,rgba(0,204,255,1) 100%);
	background:linear-gradient(to bottom,  rgba(228,245,252,1) 0%,rgba(191,232,249,1) 50%,rgba(159,216,239,1) 51%,rgba(0,204,255,1) 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#00ccff',GradientType=0 );
	border:none;
}

.btn-alt
.btn-alt:link,
.btn-alt:visited{
	display:inline-block;
	padding:0.5em 0.75em;
	box-shadow:2px 2px 2px rgba(0,0,0,0.5);
	color:rgba(0,0,102,0.6);
	font-weight:bold;
	background:rgb(255,255,255);
	background:-moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(51%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1)));
	background:-webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
	background:-o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
	background:-ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
	background:linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );
}