@charset "UTF-8";
/* CSS Document */

.btn,
.btn:link,
.btn:visited{
	display:inline-block;
	padding:0.75em 1em;
	background-color:#793284;
	background-image:linear-gradient(to bottom #793284, #571062);
	border-radius:6px;
	box-shadow:1px 1px 4px rgba(0,0,0,0.5);
	color:#FFF;
	font-weight:bold;
}

.btn-alt
.btn-alt:link,
.btn-alt:visited{
	background-color:#5d8432;
	background-image:linear-gradient(to bottom #5d8432, #3b6210);
}