@charset "UTF-8";
/* CSS Document */

footer{
	bottom:0;
	position:relative;
	overflow:hidden;
	background-color:rgba(0,0,102,0.9);
	padding-top:0.75em;
}

.logo{
	height:3em;
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:0.75em;
}