@charset "UTF-8";
/* CSS Document */

#searchbox{
	background:#FFF;
	border-width:1px;
	border-style:solid;
	border-color:#0CF;            
	width:500px;
	height:35px;
	padding:10px;
	margin:100px auto 50px;
	overflow:hidden;
}