.grid{
	border:none;
	overflow:hidden;
}

.unit{
	float:left;
}

.unit-s-1{
	width:100%;	
}

.unit-s-1-2{
	width:50%;
}

@media only screen and (min-width: 30em) {

	.unit-m-1-3{
		width:33.33%;
	}
	
	.unit-m-1{
		width:100%;
	}
	
	.unit-m-1-2{
		width:50%;
	}

}

@media only screen and (min-width: 50em) {
	
	.unit-l-1-3{
		width:33.33%;
	}
	
	.unit-l-2-3{
		width:66.66%;
	}

}