@charset "UTF-8";
/* CSS Document */

header{
	overflow:hidden;
	margin:0;
	padding:5px 0px;
	background-color:#0CF;
}

.logo{
	margin-left:auto;
	margin-right:auto;
	display:block;
	height:6em;
}

h1{
	text-align:center;
	color:#000;
	margin:0;
}

.icon{
	height:1em;
}

.icons{
	height:1.5rem;
	margin-left:0;
	margin-right:auto;
	text-align:center;
}

ul{
text-align:center;
}