@charset "UTF-8";
/* CSS Document */

.list-group{
	list-style-type:none;
	padding:0;	
}

.list-group-item::before{
	content:"";
}

.list-group-item{
	display:block
}

.lg-item-inline{
	display:inline-block;
}