@charset "UTF-8";
/* CSS Document */

.media{
	overflow:hidden;
}

.media-img{
	float:left;
	margin:0 10px 0 0;	
}

.media-img-reversed{
	float:right;
	margin:0;
}

media-img-stacked{
	float:none;
	margin:0;
}

.media-body{
	overflow:hidden;
}

.icon{
	height:1em;
}

.icons{
	height:1.5rem;
	margin-left:0;
	margin-right:auto;
	text-align:center;
}

.pad-img{
	padding:0.25rem;
}