/*
  Colour Palette
  - Light Blue:#0CF - rgb(0,204,255)
  - Navy:#006 - rgb(0,0,102)
 */
 
 @charset "UTF-8";
/* CSS Document */

html{
  font:normal 100%/1.5 'Josefin Sans', sans-serif;
}

body{
	margin:auto;
}

main{
	margin:1.5rem;
}

h1, h2, h3, h4, h5, h6,
p, ul, ol, dl,
blockquote, table, hr{
	margin:0 0 1.5rem;
}

.yotta{
	font-size:3.5832rem;
	line-height:1.2559;
}

.zetta{
	font-size:2.9860rem;
	line-height:1.0047;
}

h1, .exa{
	font-size:2.4883rem;
	line-height:1.2056;
	color:#006;
}

h2, .peta{
	font-size:2.0736rem;
	line-height:1.4468;
}

h3, .tera{
	font-size:1.7280rem;
	line-height:1.7361;
}

h4, .giga{
	font-size:1.4400rem;
	line-height:1.0417;
}

h5, .mega{
	font-size:1.2000rem;
	line-height:1.2500;
}

h6, .kilo{
	font-size:1.0000rem;
	line-height:1.5000;
}

small, .milli{
	font-size:0.8333rem;
	line-height:1.8000;
}

.micro{
	font-size:0.6944rem;
	line-height:2.1600;
	text-transform:uppercase;
}

hr{
    border:0;
    height:1px;
    background-image:-webkit-linear-gradient(left, rgba(0,204,255,0), rgba(0,204,255,0.75), rgba(0,204,255,0)); 
    background-image:-moz-linear-gradient(left, rgba(0,204,255,0), rgba(0,204,255,0.75), rgba(0,204,255,0)); 
    background-image:-ms-linear-gradient(left, rgba(0,204,255,0), rgba(0,204,255,0.75), rgba(0,204,255,0))); 
    background-image:-o-linear-gradient(left, rgba(0,204,255,0), rgba(0,204,255,0.75), rgba(0,204,255,0)); 
}

a,
a:link{
	color:#000;
	text-decoration:none;
	border-bottom:0.07em solid rgba(0,0,0,0.5);
	transition:all 130ms linear;
}
	
a:visited{
	color:rgb(0,0,102);
	border-bottom-color:#006;
}

a:hover,
a:focus,
a:active{
	color:#000;
	border-bottom-color:#000;
}

ul{
	list-style-type:none;
}

ul li{
	position:relative;
}

ul li:before{
	content:"•";
	color:#006;
	position:absolute;
	left:-1em;
}

::selection{
	background-color:#000;
	color:#0CF;
}

blockquote{
	margin-left:1em;
	color:#006;
}

blockquote:before{
	color:#0CF;
	content:open-quote;
	font-size:3em;
	line-height:0.1em;
	margin-left:-0.4em;
	vertical-align:-0.4em;
}

blockquote p {
 	display:inline;
}

table{
	border-collapse:collapse;
}

table,th, td{
	border-bottom:1px solid #0CF;
	padding:0 18px 0 18px;
	text-align:left;
}

q{
    quotes:none;
}

mark{
	background-color:#0CF;
}

.gutter{
  padding-left:1.5rem;
  padding-right:1.5rem;
}

.gutter-half, .gutter-1-2{
  padding-left:0.75rem;
  padding-right:0.75rem;
}

.gutter-double, .gutter-2{
  padding-left:3rem;
  padding-right:3rem;