# Accessibility Testing Report

User testing was conducted by {Marta Traczyk} on {April 2, 2014} between the times of {3pm} and {6pm} with the following participants:

- {Thalia}
- {Shelley}
- {Thalia}
- {Theresa Doe}
- {Todd Doe}
- {Taylor Doe}

## Tasks

1. {Find the price of the men's backpack}
2. {Find the women's clutch}
3. {Type something in the search bar}

---

## Individual Results & Observations

### {Thalia}

- {Tasks completed as expected using only the keyboard}
- {No troubles for this part, just lots of links to get through}

### {Shelley}

- {Tasks were completed as expected using only the keyboard}
- {No issues}

### {Thalia}

- {VoiceOver was slightly more difficult}
- {This could be due to a lack of experience using Voice Over though}

### {Anita}

- {Completed VoiceOver quite quickly}
- {Did not run into any stumbling blocks}

### {Sarah}

- {Using keyboard only, got through tasks quickly}
- {No notable problems}

### {Taylor Doe}

- {They completed the task as expected…}
- {They had troubles completing a specific task…}
- etc.

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {All participants had this problem…}
- etc.

### Serious, Causes Frustration, May Hinder Completion

- {Two of the participants succeeded where one of them failed…}
- etc.

### Minor, Annoying, Won’t Hinder Completion

- {Participants pointed out this inconsistency…}
- etc.