---
layout: default
title: Home
meta: Home page
showbanner: yes
bannertext: BAGS BAGS BAGS
---

<h1>Welcome to our store!</h1>

<hr class="unit-s-1">

<div class="grid">
	<p class="unit gutter-1-2 unit-s-1 unit-m-1 unit-l-1-3 unit-xl-1-6">Our store was recently established in 2014 by a small group of skilled designers. We strive for both originality and quality in our products, and we cater to both men and women alike, so you're sure to find something you like. We use genuine leather and other durable materials so our bags are built to last. Just in case we don't have you convinced yet, we back this up with a 5 year warranty on anything you purchase.</p>
	
	<div class="gutter-1-2 unit unit-s-1 unit-m-1 unit-l-2-3 unit-xl-1-3">
		{% include promo-large.html title="Receive a <strong>FREE</strong> genuine leather coinpurse when you spend $100 or more!" desc="Offer is valid until February 14th, 2014, purchase must be $100 before applicable taxes." image="coinpurse-1.jpg" %}
	</div>
	<div class="gutter-1-2 unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-6">
		{% include promo-small.html title="Cute new Clutches!" desc="All sorts of styles and colours to choose from!" image="clutches.jpg" %}
	</div>
	<div class="gutter-1-2 unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-6">
		{% include promo-small.html  title="Heavy Duty Backpacks" desc="Lots of storage for all your school, office and business necessities!" image="backpack.jpg" %}
	</div>
	<div class="gutter-1-2 unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-6">
		{% include promo-small.html  title="Travelling soon?" desc="Get the lightest most durable luggage here!" image="luggage.jpg" %}
	</div>
</div>

