# User Testing Report

User testing was conducted by {Marta Traczyk} on {March 26, 2014} between the times of {3:00pm} and {6:00pm} with the following participants:

- {Anita}
- {Thalia}
- {Shelley}

## Tasks

1. {Find out what Women's products are available}
2. {Find price of the Men's Backpack}
3. {Find out about the company}

---

## Individual Results & Observations

### {Anita}

- {She clicked on the links as expected}
- {No troubles completing tasks}
- {No questions asks}
- {Didn't seem to have any problems}

### {Thalia}

- {Had to scan the page a bit to find the "About"}
- {Did not click the correct product when looking for backpack price}
- {Clicked straight on Women's Products right from the sub-nav in products}
- {Should have better spacing/division between individual products}

### {Shelley}

- {Links were all clicked as expected}
- {No problem completing tasks, just a little bit of scanning first}
- {No questions asked}
- {No problems encountered}

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {There was a bit of scanning before buttons were located, nothing too long though}
- etc.

### Serious, Causes Frustration, May Hinder Completion

- {Second participant clicked the wrong product, probably due to image/title placement}

### Minor, Annoying, Won’t Hinder Completion

- {No comments were made}