<div class="unit unit-s-1 unit-m-1-2 unit-l-1-3">
	<ul class="list-group icons">
		<li class="list-group-item lg-item-inline"><a class="{% if page.url == '/index.html' %}current{% endif %}" href="{{site.baseurl}}/index.html">Home</a></li>
		<li class="list-group-item lg-item-inline"><a class="{% if page.url contains 'about' %}current{% endif %}" href="{{site.baseurl}}/about.html">About</a></li>
		<li class="list-group-item lg-item-inline"><a class="{% if page.url contains 'products' %}current{% endif %}" href="{{site.baseurl}}/products/">Products</a></li>
	</ul>
</div>