.btn{
	display:inline-block;
	padding:0.5em 0.75em;
	box-shadow:2px 2px 2px rgba(0,0,0,0.5);
	background-color:#666;
	border-bottom:none;
}

.btn:hover{
	color:#FFF;
}

.btn-alt{
	background-color:#0CF;
}