#searchbox{           
	width:100%;
	height:100%;
	overflow:hidden;
}

#search, #submit{
	font:normal 100%/1.5 'Josefin Sans', sans-serif;
	float:left;
}

#search{
	padding:3px 7px;
	width:55%;
	margin:0;
	border:1px solid #0CF;
	box-shadow:0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);            
}

#submit{	
	padding:0.2em 0.2em;
	margin:0 0 0 0.5em;
	width:32%;
	box-shadow:2px 2px 2px rgba(0,0,0,0.5);
	background-color:#666;
	border:none;
}

#submit:hover{
	color:#FFF;
	transition:all 130ms linear;
}