---
layout: default
title: Products
---

<div class="grid">
  <div class="unit unit-s-1 unit-m-1-2 unit-l-1-3">
    <h1>Products</h1>
  </div>
  <div class="unit unit-s-1 unit-m-1-2 unit-l-2-3">
    <p class="giga">Here's an extensive list of our products</p>
  </div>
</div>

<ul>
	{% for product in site.pages %}
		{% if product.category == 'mens' %}
			<li>
			<a href="{{site.baseurl}}{{products.url}}">
				<img scr="{{site.baseurl}}/images/bag.jpg alt="">
				{{product.name}}
			</a>
			</li>
		{% endif %}
	{% endfor %}
</ul>