<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Ecommerce Website</title>
	<meta name="handheldfriendly" content="true">
	<meta name="mobileoptimized" content="240">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:100,400,700,100italic,400italic,700italic' rel='stylesheet' type='text/css'>
	<link href="{{site.baseurl}}/css/typography.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/forms.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/header.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/media-object.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/list-group.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/buttons.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/footer.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/product-details.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/product-list.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/promos.css" rel="stylesheet">
</head>
<body>

<header class="grid">
	<div class="gutter-half unit unit-s-1 unit-m-1 unit-l-2-3">
		<img class="logo" src="{{site.baseurl}}/images/logo.svg" alt="logo">
		<h1>BAGS</h1>
	</div>
	<div class="unit unit-s-1 unit-m-1-2 unit-l-1-3">
		<ul class="list-group icons">
			<li class="list-group-item lg-item-inline"><a class="current" href="{{site.baseurl}}/index.html">Home</a></li>
			<li class="list-group-item lg-item-inline"><a href="{{site.baseurl}}/about.html">About</a></li>
			<li class="list-group-item lg-item-inline"><a href="{{site.baseurl}}/products.html">Products</a></li>
		</ul>
	</div>
	<div class="gutter-half unit unit-s-1 unit-m-1-2 unit-l-1-3 media-img-reversed">
		<form id="searchbox" action="">
			<input id="search" type="text" placeholder="Type here">
			<input id="submit" type="submit" value="Search" class="btn">
		</form>
	</div>
</header>

<main>

{{content}}

</main>

<footer class="grid unit unit-s-1">
	<div class="gutter unit unit-s-1 unit-m-1 unit-l-1-3">
		<img class="img-flex logo" src="{{site.baseurl}}/images/logo.svg" alt="">
	</div>
	<div class="unit unit-s-1 unit-m-1-2 unit-l-1-3">
		<ul class="list-group icons">
			<li class="list-group-item lg-item-inline"><a class="{% if page.url == '/index.html' %}current{% endif %}" href="{{site.baseurl}}/index.html">Home</a></li>
			<li class="list-group-item lg-item-inline"><a href="{{site.baseurl}}/about.html">About</a></li>
			<li class="list-group-item lg-item-inline"><a href="{{site.baseurl}}/products.html">Products</a></li>
		</ul>
	</div>
	<div class="unit unit-s-1 unit-m-1-2 unit-l-1-3">
		<ul class="list-group icons">
			<li class="list-group-item lg-item-inline"><a href="#"><img class="img-flex icon" src="{{site.baseurl}}/images/facebook.svg" alt="facebook"></a></li>
			<li class="list-group-item lg-item-inline"><a href="#"><img class="img-flex icon" src="{{site.baseurl}}/images/twitter.svg" alt="twitter"></a></li>
			<li class="list-group-item lg-item-inline"><a href="#"><img class="img-flex icon" src="{{site.baseurl}}/images/linkedin.svg" alt="linkedin"></a></li>
		</ul>
	</div>
	<div class="gutter unit unit-s-1 unit-m-1-2 unit-l-1-3">
		<p class="micro">@copyright Marta Traczyk 2014</p>
	</div>
</footer>

</body>
</html>