---
layout: products
---

<div class="grid product-details">
	<div class="gutter unit unit-s-1 unit-m-1-2 unit-l-1-3">
		<img class="img-flex" src="{{site.baseurl}}/images/{{page.image}}" alt="">
	</div>
	<div class="gutter unit unit-s-1 unit-m-1-2 unit-l-2-3">
		<h2>{{page.name}}</h2>
	</div>
	<div class="gutter unit unit-s-1 unit-m-1-2 unit-l-2-3">
		<h4>{{page.price}}</h4>
	</div>
	<div class="gutter unit unit-s-1 unit-m-1-2 unit-l-2-3">
		<ul class="list-group">
    		<li class="list-group-item lg-item-inline">
      		<img src="http://placehold.it/32x32/006" alt="">
    		</li>
    		<li class="list-group-item lg-item-inline">
      		<img src="http://placehold.it/32x32/9C3" alt="">
    		</li>
    		<li class="list-group-item lg-item-inline">
      		<img src="http://placehold.it/32x32/333" alt="">
    		</li>
  		</ul>
	</div>
	<div class="gutter unit unit-s-1 unit-m-1-2 unit-l-2-3">
		<a href="{{site.baseurl}}/cart.html" class="btn-alt btn">Purchase</a>
	</div>
	<div class="gutter unit unit-s-1 unit-l-2-3">
		<hr>
		<p>{{page.details}}</p>
	</div>
</div>