---
layout: products
---

<h1>{{page.title}}</h1>

<div class="grid product-details">
	<div class="gutter unit unit-s-1 unit-m-1-2 unit-l-1-3">
		<img class="img-flex" src="http://placehold.it/210x210/666" alt="">
	</div>
	<div class="gutter unit unit-s-1 unit-m-1-2 unit-l-2-3">
		<h2>Product Name</h2>
	</div>
	<div class="gutter unit unit-s-1 unit-m-1-2 unit-l-2-3">
		<h4>$54.99</h4>
	</div>
	<div class="gutter unit unit-s-1 unit-m-1-2 unit-l-2-3">
		<ul class="list-group">
    		<li class="list-group-item lg-item-inline">
      		<img src="http://placehold.it/32x32/006" alt="">
    		</li>
    		<li class="list-group-item lg-item-inline">
      		<img src="http://placehold.it/32x32/9C3" alt="">
    		</li>
    		<li class="list-group-item lg-item-inline">
      		<img src="http://placehold.it/32x32/333" alt="">
    		</li>
  		</ul>
	</div>
	<div class="gutter unit unit-s-1 unit-m-1-2 unit-l-2-3">
		<a href="#" class="btn-alt btn">Purchase</a>
	</div>
	<div class="gutter unit unit-s-1 unit-l-2-3">
		<hr>
		<p>Detailed description goes here such as material it is made of, colours, dimensions, what it is best used for, etc. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dapibus mattis cursus. Quisque ante sem, euismod in auctor ac, pharetra at lacus. Quisque auctor ac mauris sit amet interdum. Praesent suscipit dui quam, quis interdum mauris dapibus at. In vulputate magna ac sagittis suscipit. Ut tempor leo a diam vehicula, et congue odio adipiscing. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
	</div>